<h1 mat-dialog-title>Add Post</h1>
<div mat-dialog-content style="display: inline; padding: 0px; margin: auto;">

  <mat-form-field class="full-width-input">
    <input [(ngModel)]="post.title" type="text" placeholder="Title" required name="title">
  </mat-form-field>
  <div>
  <input type="file" (change) = "onFileSelected($event)" accept="image/*" id = "file">
  <label for="file">
    Chose an image
  </label>
</div>
</div>
<div mat-dialog-actions>
  <button class="btn btn-danger" mat-raised-button (click)="onNoClick()">Cancel</button>
  <button class="btn btn-primary right-align" (click)="addClick()" mat-raised-button color="primary"
    [mat-dialog-close]="post">Add</button>
</div>



